/*
=========================================
VARIABLE NOTES FOR LESS
purple (nav etc): #382937
btn hover orange: #E58C3D
btn orange: rgba(255, 171, 64, .7)
fucop aqua: (headings h5?):  #26a69a
=========================================
*/

/*
==================================
MAJOR ELEMENTS
===================================
*/
body {
	font-family: Roboto, sans-serif;
	color: #644D52;
}
body p {
	color: #696969;
}
body p, a, li, ul {
	font-weight: light;
}
div {
	min-height: 10px;
}
p {
    font-weight: 300;
}
section {
	padding-top: 25px;
}
.container {
    width: 90%;
}
.wrapper {
    padding-top: 30px;
    /*LET CONTAINER DO MARGINS */
}
.row {
	margin-bottom: 0px;
}
#about .row .col {
	padding: 0 25 0 25;
}
.nav-wrapper {
    /*LET CONTAINER DO MARGINS */
}
.nav-wrapper ul {
	padding: 1.25em 15px;
}
.work-sample-title {
	padding-bottom: 0px;
}
input {
  height: 1.5em;
  width: 100%;
  font-size: 1.5em;
  padding-bottom: .5em;
  margin: 15px 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.section-heading {
	margin-bottom: 25px;
	color: #382937;
}
.kuler-grey {
	color: #644D52; /* purple/grey */
	/*color: #A49A87; i like purple above better than this grey */
}
.purple-brown {
	color: #2E2025;
}
ul, li {
	display: list-item;
	padding-bottom: .5em;
	line-height: normal;
}
.odd{
	backgroun-color: #F6F4F1;
}
footer.page-footer {
	background-color: #382937; /* dark purple from kuler */
	margin-top: 0px;
	padding-bottom: 50px;
}

.three-column {
	padding: 0rem 35px 0rem 0rem;
}
blockquote {
  border-left: 5px solid #747474; /* Just change the color value and that's it*/
}
.align-right {
	text-align: right;
	font-weight: 500;
}
.divider-bar {
	background-color: #382937; /* dark purple from kuler */
	height: 75px;
	color: white;
}
.divider-bar-work-samples-list {
	background-color: #F6F4F1; /* grey */
	height: 75px;
}
.divider-bar p {
	margin-top: 0px;
	padding-left: 5%;
	padding-top: 10px;

}

/*
==================================
NAV
===================================
*/

nav {
	height: 90px;
	background-color: #382937; /* dark purple from kuler */
	box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 10px 0px, rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
}
nav .button-collapse {
    float: right;
}
#top-nav-menu li a {
	padding-right: 25px;
	text-decoration: none;
	height: 100%;
  padding: 32px 15 25 24px;
}
#top-nav-menu li a:hover {
	color:  rgb(229, 140, 61);
}
#top-nav-menu {
}
#top-nav-menu li {
	height: 100%;
  margin-left: 0px;
}
#top-nav-menu li:hover, #top-nav-menu a:hover {
	background-color: rgba(255, 171, 64, .7);
}
#project-nav {
	position: relative;
    top: 40px;
}
#project-nav a, #project-nav i {
	color: #E58C3D;
}

/*
==================================
HERO DIV
===================================
*/
*
#hero-text {
	padding-top: 100px;
}
#hero-subheading {
	color: white;
	text-shadow: 0px 1px 2px rgba(68, 68, 68, 1);
	font-size: 1.4em;
	line-height: 136%;
}
 #hero-subheading .fa {
	color: white;
 	text-shadow: 0px 1px 2px rgba(68, 68, 68, 1);
}
#hero-image {
	background:
	linear-gradient(rgba(90, 62, 76, 0.5), rgba(0, 0, 0, 0.7)), url(../media/adam_workspace_cropped.jpg);
	background-size: cover;
	color: white;
	height: 550px;
}

/*
==================================
DETAILS PAGES CAROUSEL
===================================
*/
.carousel {
	height: auto;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
}
.carousel-inner {
	height: 450px;
}
.carousel-inner p {
	padding: 8px 8px 8px 8px;
}
.carousel-inner .fa {
	color: white;
	padding: 2px 15px 3px 13px;
}
.carousel.slide {
	box-shadow:
	0 2px 5px 0 rgba(0,0,0,0.16), 
	0 2px 5px 0 rgba(0,0,0,0.12);
}

#carousel-nav-left {
	position: absolute;
	top: 45%;
	left: 0px;
	z-index: 10;
	width: 45;
	height: 45;
	display: block;
	background-color: rgba(255, 171, 64, 1);
}
#carousel-nav-right {
	position: absolute;
	right: 0px;
	top: 45%;
	z-index: 10;
	width: 45;
	height: 45;
	display: block;
	background-color: rgba(255, 171, 64, 1);
}
/* override bootstrap carousel control styling since I'm using my button */
.carousel-control {
    opacity: 1;
}
.carousel-inner > .item > img {
	object-fit: cover;
	height: 500px;
	width: 100%;
}

/*
==================================
DETAILS PAGES TEXT (RIGHT COLUMN)
===================================
*/
.project-image {
    width: 100%;
}
.project-row {
    padding: 15px 0px 50px 0px;
}
.project-details-row {
	padding-top: 50px;
	padding-bottom: 100px;
}
#project-description-col {
	padding-left: 25px;
	height: 500px;
}
#project-description-col li {
	float: left;
	padding: 5px 15px 5px 10px;
}
#project-description-col li:first-child {
	border-right: 1px solid lightgrey;
	margin-left: 0px;
	padding: 5px 15px 5px 0px;
}
.project-description-p {
	padding-top: 25px;
}

/*
==================================
PROJECT CARDS ON HOME PAGE
===================================
*/

.card {
	max-height: 400px;
}
.card-column {
	padding: 0px 45px 0px 0px;
}
.card-project-info {
	background-color: #382937;
	width: 100%;
	color: white;
	padding: 5 20 5px 20;
}
.card-section {
	padding-bottom: 0px;
}
.card-image img {
  width: 100%;
  max-height: 250px;
}
.card .card-content {
  color: #353A3B;
	padding: 10px 20px 20px 20px;
	border-radius: 0px;
}
.chip {
	border-radius: 0px;
	margin: 4 0 0 0;
}
#recipe-card-image {
  object-fit: cover;
}

/*
==================================
FORM ELEMENTS
===================================
*/

form {
    width: 25em;
    max-width: 80%;
    margin: auto;
}
label {
	font-size: 1.25em;
	font-weight: bold;
}
.submit-btn {
	background-color: #ffab40;
	margin: 10px 0 10px 0;
}
.btn {
	background-color: rgba(255, 171, 64, .7);
	margin-right: 6px;
	border-radius: 0px;
	width: 47%;
	height: 43px;
}
.btn:hover, .btn:active, .btn:visited {
    background-color: #E58C3D;
}
.visit-site-btn {
	background-color: rgb(255, 171, 64);
	width: 215px;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}

/*
==================================
SINGLE WORK SAMPLE PAGE
===================================
*/

ul, li {
	padding-bottom: .5em;
  font-weight: 300;
}
.list-header {

    border-bottom: 1px #e5e2db;
    background-color: #FAF9F5;
    padding-top: 1em;
    padding-bottom: 1em;
}
img#recipe-main-image.materialboxed.initialized.active {
    max-height: none;
}
/*
==================================
OTHER STYLING
===================================
*/

#contact h5 {
	color: white;
}
.hr-shadow {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(227, 227, 227, 0.75), rgba(0, 0, 0, 0));
}
.material-icons {
  vertical-align: middle;
}
.fa {
	color: lightgrey;
}
nav .brand-logo {
  position: absolute;
  display: inline-block;
  font-weight: 600;
  font-size: 2.5em;
  padding-top: 10px;
  text-decoration: none;
}
.yellow-underline {
	border-bottom: 4px solid #ffab40;
	display: inline-block;
}
.about-section {
	background-color: #F6F4F1;
	padding: 50 0 50 0;
}
#imageadam {
	width: 40%;
	margin: auto;
	max-width: 175px;
	margin: 0px 20px 20px 0px;
	float: left;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*
==================================
MEDIA QUERIES
===================================
*/

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 10%;
		-webkit-transform: translateX(-20%);
		transform: translateX(-20%);
	}
	.card {
		height: 450px;
	}
	.card-content h6 {
		font-size: 1.25rem;
	}
	.carousel-inner {
		height: 290px;
	}
	.carousel-inner > .item > img {
		height: 300px;
	}
}
@media only screen and (max-width: 600px) {
	nav .brand-logo,
	nav .button-collapse {
	  /* left: 28%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
		font-size: 2em;
		padding-top: 15px;
	}
	#hero-text {
		padding-top: 25px;
	}
	#hero-subheading {
		font-size: 16px;
		font-weight: 300;
	}
	#hero-heading {
		font-size: 25px;
	}
	#hero-image {
		background:
		linear-gradient(rgba(90, 62, 76, 0.5), rgba(0, 0, 0, 0.7)), url(../media/adam_workspace_cropped.jpg);
		background-size: cover;
		color: white;
		height: 300px;
	}
	.card {
		height: 500px;
	}
	.card-image img {
		max-height: 250px;
	}
	.card-column {
		padding: 0px !important;
	}
	.three-column {
		border-bottom: 1px solid lightgrey;
	}
	.row .col {
		padding: 25 0 25 0;
	}
	.project-details-row {
	  padding-top: 28px;
		padding-bottom: 0px;
	}
	#project-description-col {
		padding-top: 3px;
		padding-left: unset;
	}

}
@media only screen and (max-width: 550px) {
	nav .brand-logo {
		margin-left: 30px;
	}
}
@media only screen and (max-width: 450) {
	nav .brand-logo {
		margin-left: 35px;
	}
}
